.parallax-container
  .parallax
    =image_tag "https://s3-us-west-2.amazonaws.com/homebase-tcm/assets/iceberg-lake-group.JPG"
.section.white
  .row.container
    =render 'layouts/form'
    %h2.header Parallax
    %p.grey-text.text-darken-3.lighten-3 Lorem Ipsum Coming soon!
.parallax-container
  .parallax
    =image_tag "https://s3-us-west-2.amazonaws.com/homebase-tcm/assets/three_sisters_sunset.jpg"
