.parallax-container
  .parallax
    =image_tag "https://s3-us-west-2.amazonaws.com/homebase-tcm/assets/iceberg-lake-group.JPG"
.section.white
  .row.container
    / =render 'layouts/form'
    %h2.header Parallax
    %p.grey-text.text-darken-3.lighten-3 I was born in Southern California in the late 80s, my parents moved to Central Oregon in the Spring of 1993. We moved to Sisters in 1994, which is where I grew up.
    %p.grey-text.text-darken-3.lighten-3 Growing up in small town was fun in many ways; with only one elementary, middle and high school, I grew up with the same people throughout my entire childhood. I played a lot of sports growing up, specifically Track & Field. The small town forged friendships that will last a lifetime, and I'm very fortunate to have a group of friends who are like a family. 
    %p.grey-text.text-darken-3.lighten-3 After high school, I moved to Portland, Oregon, where I began studying Business at Portland State University. To make a long story short, I ended up majoring in Philosophy. Philosophy is often seen as a less worthy major, but I don't agree. I use what I learned each and every day, with every word I speak or write. There aren't many moments in life when my degree doesn't go to use.
    %p.grey-text.text-darken-3.lighten-3 I graduated college in August of 2012 and moved to Bend, Oregon, which is only about 20 miles to the Southeast of Sisters. I still see all of my friends whom I grew up with, we all go on a trip to a different national park each year. I love ultimate frisbee, table tennis, playing guitar and writing songs. I love the area I live; beautiful Central Oregon - lakes, rivers and mountains everywhere, I couldn't see myself living in many other places.
    %p.grey-text.text-darken-3.lighten-3
.parallax-container
  .parallax
    =image_tag "https://s3-us-west-2.amazonaws.com/homebase-tcm/assets/three_sisters_sunset.jpg"
