.parallax-container
  .parallax
    =image_tag "/assets/three_sisters_clouds.jpg"
.section.white
  .row.container
    %h2.header Parallax
    %p.grey-text.text-darken-3.lighten-3 Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.
.parallax-container
  .parallax
    =image_tag "/assets/three_sisters_sunset.jpg"
