#home
  .parallax-container
    %h1.top.center-align.white-text.scrollfire Hey, I'm Travis!
    .row.top.center-align
      .col.s12.m6.push-m1.push-l1
        =link_to 'Contact', 'https://google.com', :class => "waves-effect waves-light btn-large mygreen cta z-depth-5"
      .col.s12.m6.pull-m1.pull-l1
        =link_to 'Resume', '#modal1', :class => "waves-effect waves-light btn-large mygreen cta center-align z-depth-5"
    .parallax
      =image_tag "https://s3-us-west-2.amazonaws.com/homebase-tcm/assets/sunrise_grassy_field.jpg"
  #modal1.modal.opacity=render'layouts/form'
  =render 'layouts/header'
  .container
    .row
      .col.s12.m6
        %h3.s12.name Travis C Myrick
        %h5 I design, create, and fix things.
      =image_tag  "https://s3-us-west-2.amazonaws.com/homebase-tcm/assets/headshot1-tcm.jpg", :class => "left main-image circle responsive-img"
    .row
      .col.s12
        %p I have a passion for fixing things. If anything
    .row
      .col.s12
        %h3 Experience
    .row
      .col.s12
        %ul.collapsible.popout{"data-collapsible" => "accordion"}
          %li
            .collapsible-header.active
              %i.material-icons> settings_ethernet
              Jr. Support Engineer
            .collapsible-body
              %h5 G5 Search Marketing
              %span Aug 2016 - Aug 2017
              %span Bend, Oregon
              .row
                %ul.col.m4.s12
                  %li Did stuff
                  %li Did stuff
                  %li Did stuff
                %ul.col.m4.s12
                  %li Did stuff
                  %li Did stuff
                  %li Did stuff
                %ul.col.m4.s12
                  %li Did stuff
                  %li Did stuff
                  %li Did stuff
          %li
            .collapsible-header
              %i.material-icons> filter_drama
              Application Support Specialist
            .collapsible-body
              %h5 G5 Search Marketing
              %span Dec 2015 – Aug 2016
              %span Bend, Oregon
              .row
                %ul.col.m4.s12
                  %li Did stuff
                  %li Did stuff
                  %li Did stuff
                %ul.col.m4.s12
                  %li Did stuff
                  %li Did stuff
                  %li Did stuff
                %ul.col.m4.s12
                  %li Did stuff
                  %li Did stuff
                  %li Did stuff
          %li
            .collapsible-header
              %i.material-icons> important_devices
              Sr. Technical Support Specialist
            .collapsible-body
              %h5 G5 Search Marketing
              %span Jul 2015 – Dec 2015
              %span Bend, Oregon
              .row
                %ul.col.m4.s12
                  %li Did stuff
                  %li Did stuff
                  %li Did stuff
                %ul.col.m4.s12
                  %li Did stuff
                  %li Did stuff
                  %li Did stuff
                %ul.col.m4.s12
                  %li Did stuff
                  %li Did stuff
                  %li Did stuff
          %li
            .collapsible-header
              %i.material-icons> headset_mic
              Support Specialist
            .collapsible-body
              %h5 G5 Search Marketing
              %span Oct 2012 – Jul 2015
              %span Bend, Oregon
              .row
                %ul.col.m4.s12
                  %li Did stuff
                  %li Did stuff
                  %li Did stuff
                %ul.col.m4.s12
                  %li Did stuff
                  %li Did stuff
                  %li Did stuff
                %ul.col.m4.s12
                  %li Did stuff
                  %li Did stuff
                  %li Did stuff

:javascript
    $(window).scroll(function () {
    var viewport = $(window).height();
    var scrolltop = ($(window).scrollTop())
    if($('#home').length >0 ){
      if ($(window).scrollTop() > viewport - 64) {
        $('header').addClass('fixed');
        $('#home .container').addClass('padded');
        // $('.name').addClass('top');
      }
      else {
        $('header').removeClass('fixed');
        $('#home .container').removeClass('padded');
        // $('.name').addClass('top');
      }
    }
    else {
      $('header').addClass('fixed');
    };

    function fixDiv() {
      var $div = $(".name");
      if ($(window).scrollTop() > viewport - -51) { 
          $('.name').css({'position': 'fixed', 'top': '0', 'width': '100%', 'margin-top': '1.4rem'}); 
          $('.name').addClass('hideme');
      };
      if ($(window).scrollTop() > viewport - -50) {
          $('.name').addClass('header-name');
          $('.name').removeClass('hideme');  
      }
      else {
          $('.name').css({'position': 'static', 'top': 'auto', 'width': '100%'});
          $('.name').removeClass('header-name');
      } 
    }

    $(".name").data("top", $(".name").offset().top); // set original position on load
    $(window).scroll(fixDiv);
  })