#home
  .parallax-container
    %h1.top.center-align.white-text.scrollfire Hey, I'm Travis!
    .row.top.center-align
      .col.s12.m6.push-m1.push-l1
        =link_to 'Contact', 'https://google.com', :class => "waves-effect waves-light btn-large mygreen cta z-depth-5"
      .col.s12.m6.pull-m1.pull-l1
        =link_to 'Resume', '#modal1', :class => "waves-effect waves-light btn-large mygreen cta center-align z-depth-5"
    .parallax
      =image_tag "https://s3-us-west-2.amazonaws.com/homebase-tcm/assets/sunrise_grassy_field.jpg"
  #modal1.modal.opacity=render'layouts/form'
  =render 'layouts/header'
  .container
    .row.hideme
      .col.s12
        =image_tag  "https://s3-us-west-2.amazonaws.com/homebase-tcm/assets/headshot1-tcm.jpg", :class => "left main-image circle responsive-img hideme"
        .col.s12.m4
          %h3.s12 Travis C Myrick
          %h5 I design, create, and fix things.
    .row.hideme
      .col.s12
        %p Squashy armchairs dirt on your nose brass scales crush the Sopophorous bean with flat side of silver dagger, releases juice better than cutting. Full moon Whomping Willow three turns should do it lemon drops. Locomotor trunks owl treats that will be 50 points, Mr. Potter. Witch Weekly, he will rise again and he will come for us, headmaster Erumpent horn. Fenrir Grayback horseless carriages ‘zis is a chance many would die for!
    .row.hideme
      .col
        %h3 Experience
    .row.hideme
      .col.s12.m6
        .card
          .card-content
            %h5.card-title Jr. Support Engineer
            %p.title G5 Search Marketing
            %div Aug 2016 – Present
            %div Bend, Oregon
      .col.s12.m6
        .card
          .card-content
            %h5.card-title Technical Application Specialist (Tier 3)
            %p.title G5 Search Marketing
            %div Dec 2015 – Aug 2016 - 9 mos
            %div Bend, Oregon
      .col.s12.m6
        .card
          .card-content
            %h5.card-title Senior Technical Support Specialist (Tier 2)
            %p.title G5 Search Marketing
            %div Jul 2015 – Dec 2015 - 6 mos
            %div Bend, Oregon
      .col.s12.m6
        .card
          .card-content
            %h5.card-title Support Specialist (Tier 1)
            %p.title G5 Search Marketing
            %div Oct 2012 – Jul 2015 - 2 yrs 10 mos
            %div Bend, Oregon


