.parallax-container
  %h1.top.center-align.white-text.scrollfire Hey, I'm Travis!
  .row.top.center-align
    .col.s12.m6.push-m1.push-l1
      =link_to 'Contact', '#modal1', :class => "waves-effect waves-light btn-large mygreen cta z-depth-5"
    .col.s12.m6.pull-m1.pull-l1
      =link_to 'Resume', '#resume', :class => "waves-effect waves-light btn-large mygreen cta center-align z-depth-5"
  .parallax
    =image_tag "https://s3-us-west-2.amazonaws.com/homebase-tcm/assets/sunrise_grassy_field.jpg"

    / Add text field
#modal1.modal.opacity=render'layouts/form'
=render 'layouts/header'
.container
  .row.hide-on-small-only
    .col.s12.m6
      %h3.s12.name Travis C Myrick
      %h5 I design, create, and fix things.

  .row
    .col.s12#main-row
      %p.col.s12.m3.main-image.hide-on-small-only
      %p.col.s12.show-on-small.center-align
        =image_tag  "https://s3-us-west-2.amazonaws.com/homebase-tcm/assets/headshot1-tcm.jpg", :class => "responsive-img circle"
      %p.col.s12.m9.right 
        I have a passion for fixing things, I derive some kind of odd, intrinsic value from each thing I'm able to fix. I also happen to love helping people! There's nothing better than to fix or clarify an issue for someone and to see the happiness in their eyes. Fixing things is great, but seeing or hearing the reaction of those whom I've fixed something for is priceless. 
      %p.col.s12.m9.right
        I'm looking for a run but challenging career that will utilize my technical skills and passion for helping people. I may not be qualified for most engineering jobs on paper, but am able to develop apps and write code close to that of an associate software engineer. I study coding on the side, mostly Ruby on Rails and Javascript. This website is a Rails application built by yours truly :)
  .row
    .col.m4.s12#skills
      .card.skills
        .card-content
          .card-title.blue-text Skills
          %table.highlight
            %tbody
              %tr
                %td HTML 5
              %tr
                %td CSS 3 (Sass)
              %tr
                %td MySQL / PostgreSQL
              %tr
                %td Novice Rubyist (Ruby on Rails)
              %tr
                %td Novice JavaScript / jQuery
              %tr
                %td Intermmediate Adobe Photoshop
              %tr
                %td Bash/CLI

    .col.s12.m4
      .card
        .card-content
          .card-title.green-text Apps I know well
          %table.highlight
            %tbody
              %tr
                %td Heroku
              %tr
                %td DNSimple
              %tr
                %td GoDaddy & Network Solutions
              %tr
                %td AWS S3, Cloudfront and Cert Manager
              %tr
                %td ZenDesk
              %tr
                %td Pivotal Tracker
              %tr
                %td GitHub
              %tr
                %td BitBucket
    .col.s12.m4
      .card
        .card-content
          .card-title.red-text Traits
          %table.highlight.table
            %tbody
              %tr
                %td Natural problem solver
              %tr
                %td Intricate eye for detail
              %tr
                %td Excellent communication
              %tr
                %td A technical prowess
              %tr
                %td Adept critical thinker
              %tr
                %td Proficient technical writer
              %tr
                %td Able to switch tasks on the fly

  .row#resume
    .col.s12
      %h3 Experience
      %ul.collection
        %li.collection-item.avatar
          %i.material-icons.circle.blue settings_ethernet
          %span.title
            %a{:href => "https://www.getg5.com", :target => :blank} G5 Search Marketing
          %p
            %h5 Jr Support Engineer (Tier 4 / DevOps)
            %span Aug 2016 - Aug 2017
            .progress.right.col.s12.m4{:style => "height: 20px"}
              .determinate.blue{:style => "width: 100%"}
                .center.white-text 1yr
            %br/
            %span Bend, Oregon
            %br/
            .divider
            %br/
            %ul
              %li Maintained and upgraded the majority of G5 proprietary applications and platforms
              %li Troubleshot and fixed a plethora of different bugs, affecting one of various applications
              %li Monitored logs daily, fixed any issues that arose, usually by manually running failed jobs
              %li Operated daily in AWS + Kubernetes hosting platforms / services
              %li Troubleshot down websites
              %li Database maintenance and administration (MySQL and PostgreSQL)
              %li Performed QA/testing on multiple apps
              %li Provided training and direct access for Tier 3 Support agents
              %li Worked on-call
              %span.grey-text
                %divider
                %br/ 
                AWS Cloudfront, SSL Cert Manager, S3
                %br/ 
                Kubernetes, Docker Hub, CodeShip


        %li.collection-item.avatar
          %i.material-icons.circle.green filter_drama
          %span.title 
            %a{:href => "https://www.getg5.com", :target => :blank}G5 Search Marketing
          %p
            %h5 Application Support Specialist (Tier 3)
            %span Dec 2015 – Aug 2016
            .progress.right.col.s12.m3{:style => "height: 20px"}
              .determinate.green{:style => "width: 100%"}
                .center.white-text 9mos
            %br/
            %span Bend, Oregon
            .divider
            %br/
            %ul
              %li Provided high level technical support for various G5 proprietary applications, including the CMS
              %li SME on multiple apps
              %li Evaluated and prioritized various bugs and enhancement requests
              %li Troubleshot, fixed, escalated the heaviest volume of bugs / issues
              %li Designed and installed multiple cross-application integrations that improved efficiency on my team
              %li Worked closely with the Product team in diagnosing various issues, determining whether certain issues were bugs vs enhancements
              %li Regularly assisted the Engineering team in direct bug escalations
              %li Database maintenance (MySQL and PostgreSQL)
              %li Troubleshot down websites
              %li Provided DNS and Registrar support for Project Managers during website launches
              %li Created and maintained various technical documents, mostly pertaining to process or best practices
              %li Regularly updated and created knowledge base articles
              %li Coordinated with 3rd party vendors
              %li Performed QA/testing on multiple apps
              %li Performed vigorous cross-browser testing for front-end performance and visual QA
              %li Provided training and direct access for Tier 2 Support agents
              %li Worked on-call
            %br/
            %span.grey-text
              .divider
              %br/
              Backlog Grooming (weekly meeting)
              %br/ 
              Stakeholder Board (weekly meeting)
              %br/ 
              Pivotal Tracker
              %br/
              HoneyBadger
              %br/
              LogEntries
              %br/
              Heroku
              %br/
              DNSimple
              %br/ 
              %p

        %li.collection-item.avatar
          %i.material-icons.circle.red important_devices
          %span.title 
            %a{:href => "https://www.getg5.com", :target => :blank}G5 Search Marketing
          %p
            %h5 Sr Technical Support Specialist (Tier 2)
            %span Jul 2015 – Dec 2015
            .progress.right.col.s12.m2{:style => "height: 20px"}
              .determinate.red{:style => "width: 100%"}
                .center.white-text 6mos
            %br/
            %span Bend, Oregon
            .divider
            %br/
            %ul
              %li Triaged each issue that was escalated
              %li Minor bug fixes and development
              %li Provided in-depth analysis of various high level bugs / issues
              %li Determined whether certain issues were bugs or enhancements
              %li Created and maintained various technical documents, mostly pertaining to process or best practices
              %li Troubleshot down websites
              %li Provided DNS and registrar support for Project Managers launching new websites, ensured a smooth launch of both secure, and non-secure websites
              %li Regularly updated knowledge base articles
              %li Coordinated with 3rd party vendors
              %li Performed vigorous cross-browser testing for front-end performance and visual QA on websites as well as apps
              %li Provided training for Tier 1 Support agents
            %br/
            .divider
            %br/
            %span.grey-text
              GitHub
              %br/
              BitBucket
              %br/
              Pivotal Tracker
              %br/
              WordPress


        %li.collection-item.avatar
          %i.material-icons.circle.orange headset_mic
          %span.title 
            %a{:href => "https://www.getg5.com", :target => :blank}G5 Search Marketing
          %p
            %h5 Support Specialist (Tier 1)
            %span Oct 2012 – Jul 2015
            .progress.right.col.s12.m7{:style => "height: 20px"}
              .determinate.orange{:style => "width: 100%"}
                .center.white-text 2yrs, 9mos
            %br/
            %span Bend, Oregon
            .divider
            %br/
            %ul
              %li Provided support for all clients via phone/email on various G5 proprietary platforms
              %li First line of technical support for all clients
              %li Triaged all external / internal requests and prioritized them 
              %li Worked in a ticket pool completing a wide range client requests
              %li Kept knowledge base documents up to date
              %li Updated and edited client websites
              %li Resized and cropped many images/graphics
              %li Abided G5 Best Practices regarding SEO and other website optimization aspects
            %br/
            .divider
            %br/
            %span.grey-text
              > 98% Customer Satisfaction Rating
              %br/
              > 12,000 tickets solved
              %br/
              First Git commit
              %br/
              ZenDesk
              %br/
              Marchex
              %br/
              SendGrid
              %br/ 
              Netsuite