// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .main-image {
//   max-height: 305px;
//   margin: 15px 10px;
// }

.main-image {
	background: url("https://s3-us-west-2.amazonaws.com/homebase-tcm/assets/transparent-me.png") no-repeat fixed;
	background-size: 33%;
	background-position: 12% 65px;
	margin-top:20px;
	width: 40%;
	height: 100%;
}