// Colors
$mygreen: #26A674;

.mygreen {
  background-color: $mygreen;
}

// Home parallax styles
#home {
  div.parallax-container {
    height: calc(100vh - 64px);
    h1 {
      cursor: default;
    }
    .cta {
      background-color: $mygreen;
      padding: 0 3rem;
      margin: 7px;
      opacity: .8;
      width:50%;
    }
  }
  .container {
    margin-top: 50px;
  }
}

// Nav styles
nav .nav-wrapper {
  margin-left: 22px;

  ul, ul li, li a {
    height: inherit;
  }

  ul li {
    display: inline;
    width: 25%;
  }

  .logo {
    margin: 16px 0 0 15px;
  }

  i {
    font-size: 2.4em;
    padding: 2px 26px;
  }
}

// Interior page parallax styles
div.parallax-container {
  height: 600px;

  .parallax img {

  }
}

// Modal form styles
.modal {
  background: #ff;
  opacity: .8 !important;
  max-width: 400px;

  .modal-content {
    opacity: 1;

    .material-icons {
      transition: 3.2s ease-out;
    }
    .input-field .prefix {
      top: 9px;
    }
  }

}

// Helpers
.fixed {
  position: sticky;
  top: 0;
  height: 100%;
  z-index: 1;
  width: 100%;
}

.hideme {
  opacity:0;
}

.top {
  z-index: 100;
  position: relative;
  top: 200px;
  left: 0;
  width: 100%;
}

.opacity {
  background: #fff;
  opacity: .6;
  z-index: -10;
  font-size: 32px;
}