// Home parallax styles
#home {
  div.parallax-container {
    height: calc(100vh - 64px)
  }
  .container {
    margin-top: 50px;
  }
}

// Nav styles
nav .nav-wrapper {
  margin-left: 22px;
}

// Interior page parallax styles
div.parallax-container {
  height: 600px;

  .parallax img {
    display: block !important;
  }
}

// Helpers
.fixed {
  position: sticky;
  top: 0;
  height: 100%;
  z-index: 1;
  width: 100%;
}

.hideme {
  opacity:0;
}

.add-pad {
  padding-top: 65px;
}

.top {
  z-index: 100;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}