%footer.page-footer
  .fixed-action-btn.horizontal#action-footer
    %a.btn-floating.btn-large.red.lighten-1
      %i.large.material-icons add
    %ul
      %li
        %a.btn.tooltipped{"data-delay" => "50", "data-position" => "top", "data-tooltip" => "Email", :href => "#modal1", :class => "btn-floating green"}
          %i.material-icons email
      %li
        %a.btn.tooltipped{"data-delay" => "50", "data-position" => "top", "data-tooltip" => "Return to top", :href => "#top", :class => "btn-floating blue"}
          %i.material-icons arrow_upward


