%header
  %nav
    .nav-wrapper
      -unless current_page?(root_path)
        %h5.logo.left
          %a.brand-logo= link_to "Home", root_path
      %span.title-name.hide.hide-on-small-only
        Travis C Myrick
      %ul#nav-mobile.right
        %li
          %a{ :href => "https://www.linkedin.com/in/travis-myrick", :target => '_blank' }
            %i.fi-social-linkedin
        %li
          %a{ :href => "https://github.com/tmyrick", :target => '_blank' }
            %i.fi-social-github
        %li
          %a{:href => 'mailto:myricktc@gmail.com', :target => '_blank'}
            %i.fi-mail
        -unless current_page?(about_path)
          %li.hide-on-small-only
            %span= link_to 'About Me', about_path