%header
  %nav
    .nav-wrapper
      -unless current_page?(root_path)
        %h5.left
          %a.brand-logo= link_to "Home", root_path
      %ul#nav-mobile.right.hide-on-med-and-down
        %li{:class => ("active" if current_page?(home_about_path))}
          %span= link_to 'About', home_about_path
        %li
          %a{ :href => "https://www.linkedin.com/in/travis-myrick", :target => '_blank' }
            %i.fi-social-linkedin
        %li
          %a{ :href => "https://github.com/tmyrick", :target => '_blank' }
            %i.fi-social-github
        %li
          %a{:href => 'mailto:myricktc@gmail.com', :target => '_blank'}
            %i.fi-mail