%header
  %nav
    .nav-wrapper
      %a.brand-logo= link_to "Hi, I'm Travis!", root_path
      %ul#nav-mobile.right.hide-on-med-and-down
        %li
          %span= link_to 'About', home_about_path
        %li
          %a{:href => "badges.html"} Components
        %li
          %a{:href => "collapsible.html"} JavaScript